.Inputs  ion-input{
display: inline-block;
background-color:#292A2D;
width: 80%;
}
.Inputs  ion-button{
position: relative;
top: -4.5px;
margin: 0;
width: 20%;
}
.Inputs {
width: 100%; 
height: 100%;
}