<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instalados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="Botons">
    <ion-button color="primary">Usuarios</ion-button>
    <ion-button color="primary">Avanzados</ion-button>
    <ion-button color="primary">Recientes</ion-button>
  </div>
  
</ion-content>
