<ion-header>
  <ion-toolbar>
    <ion-title>Galeria</ion-title>
  </ion-toolbar>
  <ion-button (click)="Scan()" slot="end">
    <p>Buscar en galeria</p>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of image; index as position">
        <ion-img [src]="photo" *ngIf="photo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 <ion-fab vertical="bottom" horizontal="center" slot="fixed">
   <ion-fab-button (click)="sacarCamara()">
       <ion-icon  name="camera"></ion-icon>       
   </ion-fab-button>
 </ion-fab>
</ion-content>
